@import url('https://rsms.me/inter/inter-ui.css');

::selection {
  background: #2D2F36;
}

::-webkit-selection {
  background: #2D2F36;
}

::-moz-selection {
  background: #2D2F36;
}

body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}

.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}

@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}

.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}

@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}

.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}

.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}

.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}

@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

svg {
  position: absolute;
  width: 320px;
}

path {
  fill: none;
  stroke: url(#linearGradient);
  ;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}

.form {
  margin: 40px;
  position: absolute;
}

label {
  color: #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}

input::-moz-focus-inner {
  border: 0;
}

#submit {
  -moz-box-shadow: inset 0px 1px 0px 0px #474a59;
  -webkit-box-shadow: inset 0px 1px 0px 0px #474a59;
  box-shadow: inset 0px 1px 0px 0px #474a59;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #474a59), color-stop(1, #474a59));
  background: -moz-linear-gradient(top, #474a59 5%, #474a59 100%);
  background: -webkit-linear-gradient(top, #474a59 5%, #474a59 100%);
  background: -o-linear-gradient(top, #474a59 5%, #474a59 100%);
  background: -ms-linear-gradient(top, #474a59 5%, #474a59 100%);
  background: linear-gradient(to bottom, #474a59 5%, #474a59 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474a59', endColorstr='#474a59', GradientType=0);
  background-color: #474a59;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #474a59;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: 2.4rem;
  margin-left: 55px;
  margin-top: 38px;
  padding: 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #474a59;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#submit:hover {
  color: #ff00ff;
}

#submit:active {
  position: relative;
  top: 1px;
}