/* BASIC simple CSS RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* inehrit from Body */
}

/* Helper Rules */

.hidden {
  display: none;
}

.green-text {
  color: $dark-teal;
}

.mobile-only {
  display: block;
  @media screen and (min-width: 760px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.small-only {
  display: block;
  @media screen and (min-width: 760px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-hide {
  display: none;
  @media screen and (min-width: 760px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.only-dkt {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

p {
  font-size: 16px;
  line-height: 25px;
}

h2 {
  @include semiboldText;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.line {
  width: 90%;
  margin: auto;
  border-top: 1px solid $light-grey;
  margin-bottom: 3rem;
  @media screen and (min-width: 760px) {
    margin-bottom: 5rem;
  }
}

.btn {
  background: none;
  text-align: center;
  text-decoration: none;
  width: 270px;
  line-height: 40px; // height: 40px;
  border-radius: 30px;
  border: 2.5px solid $red;
  @include boldText;
  color: $red;
  text-transform: uppercase;
  font-size: 20px;
  @include ease; //    TODO: CHOOSE HOVER =================================
  // &:hover {
  //   background: $red;
  //   color: $pale-grey;
  // }
  // @media screen and (min-width: 760px) {
  //   width: 300px;
  // }
  &:hover {
    border: 3px solid $dark-teal;
    color: $dark-teal;
  }
}

.section-container {
  box-sizing: border-box;
  padding: 110px 14px; //width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid #999;
  @media screen and (min-width: 760px) {
    // padding: 110px 0;
  }
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

//thumbnail sections
.thumb-wrapper {
  width: 100%;
  @media screen and (min-width: 760px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .thumbnail-tile {
    max-width: 300px !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 60px 0;
    border-bottom: 1px solid #999;
    @media screen and (min-width: 1024px) {
      max-width: 340px;
    }
    &:last-child {
      padding-bottom: 0;
      border: none;
    }
    @media screen and (min-width: 760px) {
      padding: 0;
      border: none;
    }
    h3 {
      @include boldText;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 2rem;
      margin-right: auto; //padding-left: 10px;
    }
    .btn {
      width: 270px;
      font-size: 16px;
      margin-top: 4rem;
      align-self: center;
      @media screen and (min-width: 760px) {
        align-self: flex-start; //justify-self: flex-end;
      }
    }
    .thumb {
      width: 100%;
    }
  }
}