// Base Colors
$black: #000;
$white: #ffffff;
$pale-grey: #f9fcff;
$red: #bf0412;
$dark-teal: #004552;
$teal: #01dec7;
$our-black: #141414;
$dark-grey: #7f7f7f;
$light-grey: #e5e2e2;
// MIXINS
@mixin ease {
  transition: all 0.3s ease;
}

@mixin boldText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: $our-black;
}

@mixin regularText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $our-black;
}

@mixin semiboldText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: $our-black;
}

@mixin bodyText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $dark-grey;
}

@mixin boxshadow {
  -webkit-box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.2);
}