// ============ EVENTS HERO SECTION
// * Desktop Only
.dkt-newsletter {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    grid-column: span 3;
    height: 100px;
    background: $red;
    form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: 1rem;
    }
    input {
      margin-top: 2rem;
      margin-left: 8rem;
      margin-right: 2rem;
      width: 300px;
      line-height: 2rem;
      font-size: 14px;
      background-color: $pale-grey;
      padding: 0.5rem;
    }
    h4 {
      @include semiboldText;
      margin-top: 2rem;
      margin-left: -6rem;
      color: $pale-grey;
      font-size: 18px;
      text-transform: uppercase;
    }
    .btn {
      // height: 35px;
      width: 200px;
      line-height: 35px;
      margin-top: 2rem;
      color: $pale-grey;
      border: 2.5px solid $pale-grey;
    }
  }
}

.gradient {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    height: 100%;
    background: linear-gradient(to right, rgba($pale-grey, 0) 60%, rgba($pale-grey, 1));
    z-index: 2;
  }
}

#events-hero {
  display: grid;
  grid-template-columns: 1fr; //height: 200px; //100vh;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 2fr 1fr;
  }
  .hero-img {
    background-image: url('../images/event-hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh; //497.5px;
    z-index: -1;
    @media screen and (min-width: 1200px) {
      background-image: url('../images/event-hero@2x.png');
    }
  }
  .hero-info {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;
      margin: auto;
    }
    img {
      width: 100%;
      margin-bottom: 5rem;
    }
    p {
      margin-bottom: 5rem;
      padding-left: 1rem;
    }
  }
  .overlay-txt {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 53px;
    background: rgba($red, 0.5);
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (min-width: 1200px) {
      background: linear-gradient(to right, rgba($red, 0.5) 60%, rgba($pale-grey, 1));
    }
    p,
    .fa-map-marker-alt {
      margin-left: 2rem;
      @media screen and (min-width: 1200px) {
        margin-left: 4rem;
      }
    }
    p {
      text-transform: uppercase;
    }
  }
  .pentagon {
    background-color: $red;
    height: 300px;
    -webkit-clip-path: polygon(100% 0, 100% 35%, 51% 58%, 0 36%, 0 0);
    clip-path: polygon(100% 0, 100% 35%, 51% 58%, 0 36%, 0 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      display:none;
    }
    img {
      width: 140px;
      margin-top: 2rem;
    }
    p {
      text-transform: uppercase;
      @include boldText;
      color: $pale-grey;
      font-size: 26px;
    }
  } // * Desktop Only
  .dsk-blob {
    display: none;
    @media screen and (min-width: 1200px) {
      grid-column: span 3;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 6rem;
      p {
        @include semiboldText;
        font-size: 18px;
        max-width: 400px;
        margin-top: 4rem;
        margin-right: 2rem;
      }
      span {
        color: $teal;
      }
      h4 {
        max-width: 300px;
        @include boldText;
        font-size: 22px;
        text-transform: uppercase;
        margin-top: 4rem;
        padding-left: 4rem;
        text-align: right;
      }
    }
  }
}

// ============= UPCOMING EVENTS SECTION
#upcoming-events {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   @media screen and (min-width: 1200px) {
  //     margin-top: 2rem;
  //     padding: 2rem;
  //   }
  .events-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    margin: 0 auto;
    @media screen and (min-width: 760px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 2rem;
      justify-items: center;
    }
  }
  .event-tile {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
    @include boxshadow;
    img {
      max-width: 100%;
    }
  }
  .evt-info {
    position: absolute;
    width: 300px;
    bottom: 0;
    height: 100px;
    background-color: rgba($pale-grey, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .date {
      text-transform: uppercase;
      @include semiboldText;
      color: $red;
      font-size: 30px; //margin-left: 3rem;
      span {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }
    .location {
      text-transform: uppercase;
      @include semiboldText;
      font-size: 30px;
      margin-left: 1rem;
      span {
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: $dark-grey;
        margin-left: 0.5rem;
        text-align: left;
      }
    }
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $red;
    font-size: 16px;
    margin-bottom: 4rem;
  }
}

// ============= INVITE TO EVENTS SECTION
.first-tile {
  padding-top: 0 !important;
}

// #event-invite {
//   display: grid;
//   grid-template-columns: 1fr;
//   //padding: 2rem;
//   @media screen and (min-width: 1200px) {
//     padding: 4rem;
//   }
//   .invite-container {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-row-gap: 3rem;
//     @media screen and (min-width: 760px) {
//       display: grid;
//       grid-template-columns: 1fr 1fr;
//       grid-column-gap: 2rem;
//     }
//     @media screen and (min-width: 1200px) {
//       grid-template-columns: repeat(3, 1fr);
//     }
//     div {
//       overflow: hidden;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       margin-bottom: 3rem;
//       h3 {
//         @include boldText;
//         font-size: 26px;
//         text-transform: uppercase;
//       }
//       .btn {
//         margin-top: 2rem;
//       }
//       p {
//         max-width: 320px;
//       }
//     }
//   }
// h2 {
//   @include semiboldText;
//   font-size: 26px;
//   text-transform: uppercase;
//   // margin-bottom: 6rem;
//   // margin-top: 4rem;
//   // margin-right: 2rem;
//   margin-bottom: 37px;
// }
//}
// ============= NEWSLETTER ON SECTION
.newsletter {
  background-color: $red;
  padding: 2rem;
  text-align: center;
  @media screen and (min-width: 1200px) {
    display:none;
  }
  input {
    margin-top: 2rem;
    width: 100%;
    line-height: 2rem;
    font-size: 14px;
    background-color: $pale-grey;
    padding: 0.5rem;
    @media screen and (min-width: 760px) {
      width: 50%;
    }
  }
  h4 {
    @include semiboldText;
    color: $pale-grey;
    font-size: 16px;
    text-transform: uppercase;
  }
  .btn {
    margin-top: 2rem;
    color: $pale-grey;
    border: 2.5px solid $pale-grey;
    @media screen and (min-width: 760px) {
      display:block;
      margin: 0 auto;
      margin-top: 2rem;
    }
  }
}