//* Other styles for this HERO part of this page you can find in eventsComponent sass file.
// ================ HERO AREA EVENT DETAILS PAGE
.details-img {
  background-image: url('../images/eventDetails-hero.png');
  background-position: 40% 0, center;
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;
  z-index: -1;
  @media screen and (min-width: 760px) {
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-width: 1200px) {
    background-image: url('../images/eventDetails-hero@2x.png');
  }
}

// ================ EVENT DETAILS AREA EVENT DETAILS PAGE
#event-details {
  margin-top: -4rem;
  @media screen and (min-width: 1200px) {
    margin-top:0;
    padding: 6rem;
  }
  h2 {
    @include boldText;
    font-size: 26px;
    text-transform: uppercase;
    margin-left: 2rem;
    @media screen and (min-width: 760px) {
      margin-left: 0;
    }
  }
  h3 {
    @include semiboldText;
    font-size: 26px;
    text-transform: uppercase;
    margin-left: 2rem;
    @media screen and (min-width: 760px) {
      margin-left: 0;
    }
  }
  .event-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (min-width: 760px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 4rem;
    }
    @media screen and (min-width: 1200px) {
      grid-column-gap: 2rem;
    }
    img {
      width: 100%;
    }
  }
  .info-container {
    @media screen and (min-width: 760px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .fingerPrints {
    margin-top: 6rem;
    margin-bottom: 6rem;
    max-width: 375px;
    @media screen and (min-width: 760px) {
      grid-column: 2;
      grid-row: 1;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 10rem;
    }
    img {
      // width: 100%; 
      @media screen and (min-width: 760px) {
        transform: scale(1);
      }
      @media screen and (min-width: 1200px) {
        padding-left: 18rem; // transform: scale(1.2);
      }
    }
  }
  .event-info {
    h4 {
      @include semiboldText;
      font-size: 26px;
      text-transform: uppercase;
      @media screen and (min-width: 760px) {
        margin-top: 6rem;
        grid-column: 1;
        grid-row: 1;
      }
      @media screen and (min-width: 1200px) {
        margin-top: 12rem;
        margin-bottom: 2rem;
      }
    }
    p {
      color: $our-black;
      @media screen and (min-width: 1200px) {
        max-width: 500px;
      }
    }
  }
} // ================ CALL TO ACTION AREA EVENT DETAILS PAGE
.call-action {
  padding: 2rem;
  @media screen and (min-width: 760px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1200px) {
    padding: 6rem;
    grid-column-gap: 10rem;
  }
  a {
    text-decoration: none;
    // @include ease;
   // &:hover {
   //   background-color: $dark-teal;
   //   color: $pale-grey;
   // }
  }
  h4 {
    @include semiboldText;
    font-size: 26px;
    text-transform: uppercase;
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: $red;
  }
  .text {
    display: flex;
    flex-direction: column;
  }
  p {
    color: $our-black;
  }
  .btn {
    margin: 2rem 0 0 2rem;
  }
  .picture {
    margin-top: 4rem;
    @media screen and (min-width: 1200px) {
      margin-top: 0;
      max-width: 500px;
      margin-left: 6rem;
    }
    img {
      width: 100%;
      @media screen and (min-width: 1200px) {
        width: 80%; // height: 300px
      }
    }
  }
} // SOCIAL MEDIA DIV
.social-title {
  @include boldText;
  font-size: 26px;
  text-transform: uppercase;
  margin-left: 2rem;
  @media screen and (min-width: 1200px) {
    margin-left: 6rem;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  color: $red;
  margin: 2rem 0 6rem 2rem;
  @media screen and (min-width: 1200px) {
    margin: 2rem 0 6rem 6rem;
  }
  svg {
    padding-right: 2rem;
  }
}

.svg-inline--fa.fa-w-14 {
  width: unset;
}