footer {
  background-color: $dark-teal;
  padding: 50px 14px 0 14px;
  .footercontainer {
    @media screen and (min-width: 760px) {
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-top: 1px solid $pale-grey;
    @media screen and (min-width: 760px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; // padding: 20px 0; // border-top: 1px solid $pale-grey;
    }
  }
  .imagecontainer {
    max-width: 307px;
    margin-bottom: 50px;
    @media screen and (min-width: 760px) {
      max-width: 250px;
      margin: 0; //grid-column: 1 / 4;
      //grid-row: 1 / 2;
    }
    img {
      max-width: 100%;
    }
  }
  .socialcontainer {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 110px;
    @media screen and (min-width: 760px) {
      width: 100%;
      margin: 0;
    }
    a {
      color: $pale-grey;
      font-size: 30px;
    }
  }
  .actioncontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    @media screen and (min-width: 760px) {
      max-width: 400px;
    }
    h2 {
      color: $pale-grey;
      font-size: 22px;
    }
    p {
      font-size: 16px;
      color: $pale-grey;
      margin-bottom: 37px;
    }
    .btn-container {
      align-items: flex-start;
      @media screen and (min-width: 760px) {
        margin: 0;
      }
    }
    .btn {
      border: 2.5px solid $pale-grey;
      color: $pale-grey;
      margin: 0;
    }
  }
}