.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $pale-grey;
    height: 6rem;
    width: 6rem;
    position: absolute; //fixed;
    top: 14px; //3rem;
    right: 14px; //2rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    @media screen and (min-width: 1300px) {
      right: 0;
    }
  }
  &__background {
    height: 2rem;
    width: 1.6rem;
    position: relative; //fixed;
    top: 14px; //4.5rem;
    right: 14px; //4rem;
    background-image: radial-gradient($red, darken($red, 20));
    z-index: 1000;
    transition: -webkit-transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
    transition: transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
    transition: transform 0.8s cubic-bezier(0.69, 0, 0.007, 1), -webkit-transform 0.8s cubic-bezier(0.69, 0, 0.007, 1);
    opacity: 1; // tablet size media queries at 760px
    @media screen and (min-width: 760px) {
      width: 0.6rem;
    }
    @media screen and (min-width: 1200px) {
      // right: 4.5rem;
    }
  }
  &__nav {
    /* height: 100vh; */
    width: 0;
    position: fixed; //relative;
    top: 30rem;
    right: 0;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.69, -0.55, 0.265, 1.55);
    opacity: 0;
  }
  &__list {
    position: absolute;
    top: 65%;
    right: 91%;
    -webkit-transform: translate(94%, -90%);
    transform: translate(90%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; // tablet size media queries at 760px
    @media screen and (min-width: 760px) {
      right: 55%;
      top: 10rem;
    } // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      right: 52%;
    }
    @media screen and (min-width: 1600px) {
      right: 55%;
    }
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-image: linear-gradient( 120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 230%;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: #000;
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem);
    }
  }
  &__checkbox:checked~.navigation__background {
    -webkit-transform: scale(80);
    transform: scale(80);
    @media screen and (min-width: 1200px) {
      -webkit-transform: scale(100);
      transform: scale(100);
    }
  }
  &__checkbox:checked~.navigation__nav {
    opacity: 1;
    width: 100%;
  }
  &__icon {
    position: relative;
    margin-top: 3rem;
    &,
    &::before,
    &::after {
      width: 4em;
      height: 3px;
      border-radius: 10px;
      background-color: $red;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon:before {
    top: -1rem;
    background-color: $our-black;
  }
  &__button:hover &__icon:after {
    top: 1rem;
    background-color: $our-black;
  }
  &__button:hover &__icon {
    background-color: $our-black;
  }
  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked+&__button &__icon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  &__checkbox:checked+&__button &__icon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

// Social Icons
#social {
  margin-top: 6rem;
  li {
    display: inline;
    margin-right: 20px;
    font-size: 2.4rem;
    a {
      color: #fff;
      list-style: none;
      text-decoration: none;
    }
  }
}

.fa-youtube:hover {
  color: $dark-teal;
}

.fa-twitter:hover {
  color: $dark-teal;
}

.fa-instagram:hover {
  color: $dark-teal;
}

.fa-facebook-square:hover {
  color: $dark-teal;
}

.fa-snapchat-square:hover {
  color: $dark-teal;
}