header {
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  padding: 14px;
  display: flex !important;
  justify-content: space-between;
  top: 0; // 0.5rem;
  z-index: 99;
  @media screen and (min-width: 1300px) {
    max-width: 1300px;
    left: 50%;
    margin-left: -650px;
    padding: 14px 0;
  }
}

#logo {
  height: 6rem;
  width: 6rem;
}