// ===================  HERO SECTION HOME COMPONENT
#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  @media screen and (min-width: 760px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    max-width: 1300px;
    margin: 0 auto;
  }
  .hero-text {
    position: relative;
    margin-bottom: 110px;
    padding: 0 14px;
    max-height: 500px;
    p {
      max-width: 400px;
    }
    @media screen and (min-width: 760px) {
      grid-column: 1 / 2;
      margin-bottom: 0;
    }
    h1 {
      @include boldText;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 37px;
    }
    h2 {
      margin: 0 0 5px 0;
    }
    #red-fprint {
      width: 97.3px;
      height: 115.4px;
      position: absolute;
      left: 180px;
      top: 70%;
      transform: rotate(30deg);
      opacity: 0;
      @media screen and (min-width: 760px) {
        top: 85%;
      }
    }
  }
}

.btn-container {
  display: flex;
  @media screen and (min-width: 760px) {
    margin-top: 50px;
  }
}

#arrow-down {
  position: absolute;
  bottom: 10px;
  margin-left: 45vw;
  animation: downarrow 0.5s infinite alternate ease-in-out;
  -webkit-animation: downarrow 0.5s infinite alternate ease-in-out;
  @media screen and (min-width: 760px) {
    margin-left: 50vw;
    bottom: 30px;
  }
}

@keyframes downarrow {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0.9;
  }
}

@-webkit-keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0.4em);
    opacity: 0.9;
  }
}

// ================   VIDEO SECTION HOME COMPONENT
#videoSec {
  text-align: center;
  img {
    width: 300px;
  }
}

.icon {
  z-index: 10;
}

.fullscreen-vid-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  &:hover>.vid-controls {
    height: 8rem;
  }
  .ctr-wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2.5rem;
    color: $teal
  }
  .svg-inline--fa {
    z-index: 3;
    cursor: pointer;
  }
  .vid-controls {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #f5f5f5;
    @include ease;
  }
  video {
    height: 100%;
  }
}

// ================  THUMBS SECTION HOME COMPONENT
.thumbnail-section {
  #thumbs {
    padding: 2rem;
  }
}

#teal-fprint {
  position: absolute;
  width: 150px;
  top: 35%;
  left: 60%;
  opacity: 0;
}

// ================  MYTHS SECTION HOME COMPONENT
#myths {
  // padding: 2rem;
  // margin-bottom: 4rem;
  // @media screen and (min-width: 1200px) {
  //   padding: 4rem;
  // }
  .material-icons {
    color: $teal;
  }
  div {
    text-align: center;
    h2 {
      @include regularText;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    h3 {
      @include semiboldText;
      font-size: 5rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
      span {
        display: block;
      }
    }
  }
}

// ==================  DONATE SECTION HOME COMPONENT
#donate {
  //padding: 2rem;
  border: none;
  margin-bottom: 8rem;
  .content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul{
      margin-top: 50px;
    }
    @media screen and (min-width: 760px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      //grid-column-gap: 100px;
    }
    .donate-text {
      @media screen and (min-width: 1024px) {
        max-width: 40%;
      }
    }
    #polaroid {
      min-height: 340px;
      min-width: 340px;
      background-image: url('../images/polaroids@2x.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: relative;
      img {
        position: absolute;
        width: 140px;
        bottom: 4rem;
        left: 12rem;
        opacity: 0;
      } // @media screen and (min-width: 760px) {
      //   grid-column: 2;
      //   grid-row: 1;
      // }
      @media screen and (min-width: 1024px) {
        min-width: 480px;
        min-height: 440px;
        background-size: cover;
      }
    }
  }
  p {
    margin-bottom: 3rem;
  }
}

.fade-anim {
  animation: fade 1.5s linear;
}

@keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
