#bm {
  // width: 140%;
  max-width: 100vw;
  transform: scale(1.6);
  position: absolute;
  top: 11rem;
  right: 5rem;
  @media screen and (min-width: 760px) {
    right: -1rem;
    transform: scale(1);
    width: 55%; // top: 14rem;
  }
  @media screen and (min-width: 1200px) {
    // transform: scale(1.2);
    top: 13rem;
  }
}

.none {
  display: none;
}