#media-hero {
  .img {
    img {
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      grid-column: 1/span 2;
      grid-row: 1;
      z-index: -1;
    }
  }
  .gradient {
    grid-column: 1/span 2;
    grid-row: 1;
    background: linear-gradient(to right, rgba(249, 252, 255, 0) 55%, $pale-grey);
  }
}

.img {
  img {
    width: 100%;
  }
}

#wrd-logo {
  width: 100%;
}

.teaser {
  h3 {
    @include boldText;
    font-size: 20px;
    margin-bottom: 2rem;
  }
  li {
    @include semiboldText;
    font-size: 26px;
  }
}

#media-thumbs {
  box-sizing: border-box;
  .thumbs {
    display: grid; //grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    @media screen and (min-width: 550px) {
      grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    }
    @media screen and (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
    .pic {
      width: auto;
      height: auto;
    }
  }
}

.files {
  display: flex;
  flex-wrap: wrap;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  max-width: 300px;
  position: relative;
  img {
    width: 100%;
    margin-bottom: 1rem;
  }
  a {
    color: $red;
    position: absolute;
    bottom: 0;
  }
}