#myths-hero {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img {
    img {
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      grid-column: 1/span 2;
      grid-row: 1;
      z-index: -1;
    }
  }
  .gradient {
    grid-column: 1/span 2;
    grid-row: 1;
    background: linear-gradient(to right, rgba(249, 252, 255, 0) 55%, $pale-grey);
  }
  .teaser {
    @media screen and (min-width: 760px) {
      display:none;
    }
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}

.myth-logo {
  max-width: 200px;
}

.myths-container {
  // text-align: center;
  margin: 100px 0;
  @media screen and (min-width: 750px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  &:nth-child(2n) {
    @media screen and (min-width: 750px) {
      flex-direction: row-reverse;
    }
  }
  .image-container {
    max-width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 750px) {
      min-width: 300px;
      max-width: 45%;
      margin: 0 70px;
    }
    img {
      max-width: 100%;
    }
  }
  .text-container {
    margin-top: 50px;
    .red {
      color: $red;
      background: none !important;
    }
    .blue {
      color: $teal;
      background: none !important;
    }
  }
}