#story-hero {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img {
    img {
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      grid-column: 1/span 2;
      grid-row: 1;
      z-index: -1;
    }
  }
  .gradient {
    grid-column: 1/span 2;
    grid-row: 1;
    background: linear-gradient(to right, rgba(249, 252, 255, 0) 55%, $pale-grey);
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 68%;
  width: 100%;
  @include ease;
}

.teaser {
  padding: 2rem;
  margin: auto;
  @media screen and (min-width: 760px) {
    // display:flex; // flex-direction: row;
    // justify-content: space-between;
    margin: 2rem 0 0 0;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: auto;
  }
  .right_ {
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  p {
    max-width: 400px;
  }
}

.lives {
  grid-column: 1/span 2;
  margin: 0;
}

h2 {
  @include boldText;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-size: 30px; // max-width: 500px;
  }
}

.story-container {
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 110px 14px;
  }
}

#story {
  margin-top: -8rem;
  @media screen and (min-width: 1200px) {
    grid-column: span 2;
  }
  img {
    width: 100%;
  }
  p {
    @media screen and (min-width: 1200px) {
      max-width: 750px;
    }
  }
  .imgs {
    display: none;
    @media screen and (min-width: 760px) {
      padding: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 600px;
      margin: auto;
    }
    @media screen and (min-width: 1200px) {
      justify-content: center;
      max-width: 700px;
    }
    img {
      // width: 225.4px;
      // height: 320.3px;
      width: 40%;
      height: 40%;
    }
  }
}

.social-wrapper {
  margin-top: 4rem;
  @media screen and (min-width: 1200px) {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4rem;
  }
  h4 {
    @media screen and (min-width: 1200px) {
      margin-left: 3rem;
    }
  }
}

.story-thumb {
  // max-width: 160px;
  margin-right: 10px; // @media screen and (min-width: 1200px) {
  //   max-width: 200px;
  // }
  // @media screen and (min-width: 1200px) {
  //   max-width: 266px;
  //   margin-bottom: 2rem;
  // }
  small {
    text-transform: uppercase;
    @include regularText;
    @media screen and (min-width: 1200px) {
      font-size: 1.2rem;
    }
  }
  h4 {
    @include boldText;
    @media screen and (min-width: 1200px) {
      font-size: 1.4rem;
    }
  }
}

.pic {
  // width: 160px;
  overflow: hidden;
  @media screen and (min-width: 760px) {
    width: 200px;
  }
  @media screen and (min-width: 1200px) {
    width: 266px;
  }
  img {
    width: 100%;
  }
}

.bold {
  @include boldText;
}

aside {
  padding: 2rem;
  @media screen and (min-width: 1200px) {
    grid-column: 3;
    grid-row: 1;
    margin-top: 2rem;
    max-height: 100vh;
    overflow-y: scroll;
  }
  .thumbs {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    @media screen and (min-width: 760px) {
      // justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: column;
      overflow-x: none;
    }
  }
}

.aside-title {
  @include semiboldText;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}