#stories-hero {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .video {
    &:hover &:active>.vid-controls {
      height: 8rem;
    }
    @media screen and (min-width: 760px) {
      height: 100%;
    }
    @media screen and (min-width: 1200px) {
      grid-column: 1/span 2;
      grid-row: 1;
    }
    video {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  .gradient {
    grid-column: 1/span 2;
    grid-row: 1;
    background: linear-gradient(to right, rgba(249, 252, 255, 0) 75%, $pale-grey);
  }
  .hero-info {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;
      margin: auto;
    }
    img {
      width: 100%;
      margin-bottom: 5rem;
    }
    p {
      margin-bottom: 5rem;
      padding-left: 1rem;
    }
  }
  .subtitle {
    background-color: $our-black;
    height: 114px;
    text-align: center;
    h3 {
      @include boldText;
      text-transform: uppercase;
      color: $pale-grey;
      font-size: 26px;
      margin-top: 2rem;
    }
  }
  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    position: relative;
    @media screen and (min-width: 1200px) {
      display: none;
    }
    img,
    a {
      margin: 0;
    }
    img {
      top: 14rem;
    }
    p {
      @include semiboldText;
      font-size: 26px;
      text-transform: uppercase;
      margin: 4rem 0 4rem 0;
    }
  }
}

#stories-thumbs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  @media screen and (min-width: 760px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3rem;
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5rem;
  }
  .pic {
    // height: 160px;
    // max-width: 160px;
    @media screen and (min-width: 1200px) {
      max-width: 300px;
      height: 300px;
    }
  }
  .story-thumb {
    margin-bottom: 2rem;
    max-width: 160px;
    @media screen and (min-width: 1200px) {
      max-width: 300px;
    }
  }
  small {
    @include regularText;
    text-transform: uppercase;
    font-size: 14px;
  }
  h3 {
    @include boldText;
    font-size: 18px;
  }
}